<div class="nav-outer">
  <div class="nav-left">
    <h1>Travel Buddy</h1>
  </div>
  <div class="nav-right">
<ul class="nav-list">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
  </div>
</div>

<h1>Welcome, {{name}}!</h1>
<p>This page is server-side rendered using Handlebars.</p>