<div class="nav-outer">
  <div class="nav-left">
    <img id="logo" src="/images/travel-buddy-only.png" />
    <div id="app-name">
      <h2>TRAVEL</h2>
      <h2>BUDDY</h2>
    </div>
  </div>
  <div class="nav-right">
    <ul class="nav-list">
      <span id="nav-basic-links">
        <li>Explore</li>
        <li>Plan a Trip</li>
      </span>
      <span id="nav-auth-links">
        <li class="nav-auth-link">Login</li>
        <li class="nav-auth-link">Sign Up</li>
      </span>
    </ul>
  </div>
</div>

<h1>Welcome, {{name}}!</h1>
<p>This page is server-side rendered using Handlebars.</p>